<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BI01-Logística v2024.3.1</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'appbi/css/painellog04.css' %}">
        <link rel="icon" href="{% static 'img/logo_cadan_100x118.png' %}" type="image/png">
    </head>
    <body>
        <header>
            <h2 class="title">
                <img class="img-left" src="{% static 'img/logo_cadan_100x118.png' %}" alt="Ícone Cadan">
                ESTOQUE POR ENDEREÇO
                <img class="img-right" src="{% static 'img/logo_cadan_100x118.png' %}" alt="Ícone Cadan">
            </h2>
        </header>
        <hr>
        <div id="div-informacao"></div>
        <div class="div-row-charts">
            <div class="div-column-charts" id="log-rua1">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua2">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua3">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua4">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua5">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua6">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua7">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua8">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua9">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua10">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua11">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua12">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua13">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua14">
                TESTE
            </div>
            <div class="div-column-charts" id="log-rua15">
                TESTE
            </div>
        </div>

        <footer>
            <div class="footer-div">
                <span class="information">&copy; 2024 Cadan Distribuição. Todos direitos reservados</span>
                <span class="department"><strong>Desenvolvido por: </strong>Hilson Santos «» Departamento TI</span>
            </div>
        </footer>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'appbi/js/painellog04.js' %}"></script>
        <script>

            window.onload = function(e){
                openDashboard('{% url "data-analysis-estoqueendereco" %}')
            }

            /*
            setInterval(
                function(e){
                    openDashboard('{% url "data-analysis-estoqueendereco" %}')
                },
                1000
            )
            */
        </script>
    </body>
</html>