<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BI01-Logística v2024.3.1</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'appbi/css/painellog01.css' %}">
        <link rel="icon" href="{% static 'img/logo_cadan_100x118.png' %}" type="image/png">
    </head>
    <body>
        <header>
            <h2 class="title">
                <img class="img-left" src="{% static 'img/logo_cadan_100x118.png' %}" alt="Ícone Cadan">
                «LACS» Análise de Pedidos
                <img class="img-right" src="{% static 'img/logo_cadan_100x118.png' %}" alt="Ícone Cadan">
            </h2>
        </header>
        <hr>
        <div class="div-row-charts">
            <div class="div-column-charts">
                <div class="div-tabble">
                    <div class="table-titulo">TIPOS</div>
                    <div class="table-espaco"></div>
                    <div id="table-pedidostipo"></div>
                    <div class="div-barchart" id="barchart-pedidostipos-quantidade" style="width: 240px; height: 355px;"></div>
                </div>
            </div>
            <div class="div-column-charts">
                <div class="div-tabble">
                    <div class="table-titulo">DATA/FATURA</div>
                    <div class="table-espaco"></div>
                    <div id="table-pedidosdatalimfatura"></div>
                </div>
            </div>
            <div class="div-column-charts">
                <div class="div-tabble">
                    <div class="table-titulo">SITUAÇÃO</div>
                    <div class="table-espaco"></div>
                    <div id="table-pedidosstatus"></div>
                </div>
            </div>
            <div class="div-column-charts">
                <div class="div-tabble">
                    <div class="table-titulo">CRÍTICAS</div>
                    <div class="table-espaco"></div>
                    <div id="table-pedidoscriticas"></div>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-div">
                <span class="information">&copy; 2024 Cadan Distribuição. Todos direitos reservados</span>
                <span class="department"><strong>Desenvolvido por: </strong>Hilson Santos «» Departamento TI</span>
            </div>
        </footer>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'appbi/js/painellog01.js' %}"></script>
        <script>

            window.onload = function(e){
                openDashboard('{% url "data-analysis-pedidos" %}')
            }

            setInterval(
                function(e){
                    window.location.replace('http://172.16.157.3:8000/appbi/bilog02/')
                },
                10000
            )

            setInterval(
                function(e){
                    openDashboard('{% url "data-analysis-pedidos" %}')
                },
                1000
            )

        </script>
    </body>
</html>