{% extends 'appierp_base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'appierp/css/produtobase.css' %}">
{% endblock %}

{% block titulo %}
    <h1>Produto Base</h1>
{% endblock %}

{% block div-tabela-clientes %}{% endblock %}
{% block input-tela-cliente %}{% endblock %}

{% block showmodal %}
    <div class="div-modal" id="form-modal">
        <div class="div-modal-content">
            <div class="div-title">
                <p class="title" id="p-title-ins"></p>
            </div>

            <div class="div-form">
                <form action="{% url 'produto-update' %}" method="POST">
                    {% csrf_token %}
                    <hr class="divisor">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                <input
                                    class="form-control"
                                    id="form-produto"
                                    type="text"
                                    name="produtodados"
                                    required="required"
                                    readonly
                                >
                                <label>Produto</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="div-informacao">
                                <div class="form-check form-switch">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="produtobase"
                                        id="checkbox"
                                    >
                                    Confirme se esse produto vai ser parametrizado como base.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="divisor">
                    <div class="div-botoes">
                        <button class="button-submit" type="submit">Confirmar</button>
                        <button class="button-reset" type="reset" onclick="fecharModal()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    window.onload = calcularAlturaDaDivTableProdutos
    window.onresize = calcularAlturaDaDivTableProdutos
{% endblock %}
