<!DOCTYPE html>
{% extends "base/base_unico.html" %}
{% load static %}
<html lang="pt-br">
<!-------Cabeçalho-------------------------------------------------------------------->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DeviceHub</title>
</head>
<!-------Corpo-------------------------------------------------------------------->
<body>
   {% block content %}
     <div class="form-wrapper">
         <h2>Novo usuário</h2>
         <form action=""
               method="POST"
         >
           {% csrf_token %}

            {% for field in form %}
             <div class="form-content">
                 <div class="form-group">
                     <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                     {{ field }}
                     {{ field.errors }}
                 </div>
            {% endfor %}
             </div>

             <div class="form-content">
                 <div class="form-group">
                     <button class="btn" type="submit"> Enviar</button>
                 </div>
             </div>
         </form>
     </div>
   {% endblock %}
</body>
</html>