body {
    background: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    img.img-left {
        position: fixed;
        left: 10px;
        top: 4px;
        width: 48px;
    }
    img.img-right {
        position: fixed;
        right: 10px;
        top: 4px;
        width: 48px;
    }
    h2 {
        font-size: 2.8rem;
        color: #222c66;
        text-shadow: 2px 2px 5px #363636;
        margin-left: 5%;
    }
}
hr {
    margin: 0;
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, transparent, #222c66, transparent);
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 20%;

    .div-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-shadow: 2px 2px 5px #363636;
        h3 {
            font-size: 2.4rem;
            color: #222c66;
        }
    }

    .div-info-pedido {
        display: flex;
        justify-content: center;
        align-items: center;
        .div-valores {
            background-color: #222c66;
            justify-content: center;
            text-align: center;
            width: 50%;
            height: 100%;
            margin: 5px;
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            p {
                font-size: 2.4rem;
                color: #ffffff;
                margin: 0;
                padding: 0;
            }
            .p-valor {
                font-size: 3.5rem;
            }
        }
    }

    .div-grafico {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 380px;
        font-size: 1.8rem;
    }
}
.footer-div {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    color: #000000;
    height: 4vh;
    width: 100%;
    position: fixed;
    bottom: 0;

    .information {
        position:= fixed;
        margin-left: 2%;
        font-size: 1.0rem;
    }
    .department {
        position: fixed;
        right: 2%;
        font-size: 1.0rem;
    }
}