@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-neutrol-0: #0e0c0c;
    --color-neutrol-10: #171717;
    --color-neutrol-30: #a8a29e;
    --color-neutrol-40: #f5f5f5;
    --spacing: 1.5rem;
    --link-dark-color: rgb(0, 83, 134);
    --link-light-color: rgb(156, 217, 255);
    --clr-white: rgb(245, 245, 255);
    --clr-black: rgb(0, 0, 30);
    --clr-light-gray: rgb(230, 230, 245);
    --clr-dark-shadow-5: rgba(0, 0, 10, 5%);
    --clr-dark-shadow-10: rgba(0, 0, 10, 10%);
    --clr-dark-shadow-20: rgba(0, 0, 10, 20%);
    --clr-light-shadow-5: rgba(200, 200, 255, 5%);
    --clr-light-shadow-10: rgba(200, 200, 255, 10%);
    --clr-light-shadow-20: rgba(200, 200, 255, 20%);
    --main-page-width: 120rem;
    --table-min-width: 60rem;
    --biggest-font-size: 5rem;
    --bigger-font-size: 4rem;
    --big-font-size: 3.2rem;
    --medium-font-size: 2.4rem;
    --small-font-size: 1.6rem;
    --smaller-font-size: 1.4rem;
    --smallest-font-size: 1.2rem;
    --transition-fast: 300ms;
    --transition-medium: 600ms;
    --transition-slow: 1s;
    --default-border-radius: 4px;
}

*,
*::before,
*::after {
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

body {
    line-height: 1.5;
    font-size: var(--small-font-size);
    color: var(--clr-black);
    -webkit-font-smoothing: antialiased;
    background: var(--clr-light-gray);
}
/*Menu superior*/

.header {
  background: var(--clr-black);
  padding: var(--spacing);
  box-shadow: 0 5px 10px 2px var(--clr-dark-shadow-20);
  z-index: 1;
  position: relative;
}

.header-heading {
  font-size: var(--biggest-font-size);
  text-align: center;
}

.header-link {
  color: var(--link-light-color);
  text-decoration: none;
  transition: filter var(--transition-fast) ease-in-out;
}

.header-link:hover {
  filter: brightness(70%);
}

.container {
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}


/*resto da página home */

.section-text {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 56px;
    border-bottom: 1px solid #C6C6C6;
}

.section-text-content {
    display: flex;
    flex-direction: column;
    transform: translatey(-30px);
    width: 25%;
}

.section-text-content h1 {
    font-size: 48px;
    color: var(--link-dark-color);
}

.section-text-content p {
    font-size: 16px;
}

.section-text-content button {
    width: 60%;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background-color: #0300A2;
    border: none;
    border-radius: 8px;
    padding: 16px 8px;
    cursor: pointer;
}

/*  eventos e botões/ home */

.events h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
}

.block-events {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas de largura igual */
    grid-template-rows: repeat(2, 1fr);
    /* 2 linhas de altura igual */
    row-gap: 48px;
}

.card-event {
    width: 100%;
    /* Ou qualquer valor que se adeque ao seu layout */
    max-width: 300px;
    /* Adapte conforme necessário */
    margin: 0 auto;
    /* Centraliza a div na largura disponível */
    text-align: center;
    background-color: var(--link-light-color);
    padding: 24px 0;
    border-radius: 16px;
}

.card-event h2 {
    font-size: 24px;
}

.card-event button {
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: var(--link-light-color);
    color: #fff;
    padding: 16px 8px;
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}


.btn-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* Adicionando um espaçamento superior */
}

.button-vejamais {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    /* Cor ajustada para corresponder ao mesmo azul */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-vejamais:hover {
    background-color: #0056b3;
}


/* Rodape */
footer {
    width: 100%;
    color: var(--color-neutrol-40);
}
/*
#footer_content {
    background-color: var(--color-neutrol-10);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
    justify-content: center;
}*/

#footer_copyright {
    background-color: var(--color-neutrol-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    text-align: center;
}